@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Black.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

body {
  font-family: IRANsans;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.fas {
  font-family: 'FontAwesome' !important;
  font-style: normal;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: unset;
}

a:focus {
  outline: none;
}

/* Truck */

.Truck {
  min-height: 100vh;
}

/* button */

.Truck-button-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.Truck-button-control button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.Truck-button-style {
  cursor: none !important;
  opacity: 0.5;
}

.Truck-button-control .Truck-red-button {
  background: #a81a21;
}

.Truck-button-control .Truck-green-button {
  background: #137b1e;
}

.Truck-button-control .Truck-yellow-button {
  background: #a19419;
}

/* Truck-position */

.Truck-position {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  left: 20%;
  z-index: 100;
}

.Truck-car {
  position: relative;
}

.Truck-car-transform {
  animation: linear;
  animation-name: Drive;
  animation-duration: 1s;
}

.Truck-body {
  position: absolute;
  left: 0;
}

.Truck-body-transform {
  animation-name: takeOff;
  animation-duration: 1.2s;
}

/* car__wheel */

.Truck-wheel {
  position: relative;
}

.Truck-wheel-transform {
  animation: Wheel 1s linear;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

.Truck-wheel-1 {
  position: absolute;
  top: 300px;
  left: 80px;
}

.Truck-wheel-2 {
  position: absolute;
  top: 305px;
  left: 440px;
}


@keyframes Drive {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }

  50% {
    left: -1200px;
  }

  51% {
    left: 1200px;
  }

  100% {
    left: 0px;
  }
}

@keyframes Wheel {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes takeOff {
  5% {
    transform: rotate(3deg);
  }

  40% {
    transform: rotate(0deg);
  }

  95% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}